body {
  margin: 0;
  text-align: center;
  font-family: 'Otomanopee One', sans-serif;
  color: #402218;

}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 1.50rem;
  font-family: 'Otomanopee One', sans-serif;
  padding-top: 10px;
}

p {
  padding-bottom: 20px;
  line-height: 2;
}

hr {
  border: dotted #D79771 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

a {
  color: white;
  font-family: 'Otomanopee One', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #402218;
}

.h2-first-page {
  font-weight: normal;
}

.intro {
  width: 40%;
  margin: auto;
}

.outro {
  width: 40%;
  margin: 40px auto 20px;
}

.contact-me {
  padding-bottom: 5%;
  background-color: #FFEBC9;
  color: #654321;
}

.footer-link {
  padding: 20px 0;
  color: white;
}

.top-container {
  background-color: #D79771;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  background-color: #FFEBC9;
  padding-top: 20px;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 12.5rem auto;
  padding: 6.25rem 0 6.25rem 0;
  text-align: left;
  line-height: 2;
}

.project-row {
  width: 50%;
  margin: 3rem auto 4rem auto;
  padding: 3rem 0 5rem 0;
  text-align: left;
  line-height: 2;
}

/* Images */

.react-img {
  width: 40%;
  float: left;
  margin: 0 50px 20px 20px;
}

.computer-img {
  width: 40%;
  float:right;
  margin: 0 30px 20px 50px;
}

.github-img {
  width: 40%;
  float: left;
  margin: 0 40px 20px auto;
}

.rugby-img {
  width: 40%;
  float:right;
  margin: 0 auto 20px 40px;
}

.tindog-img {
  width: 100%;
}

.notjustcode-img {
  width: 100%;
}

.elaine-img {
  width: 100%;
}

.github2-img {
  width: 50%;
}

.skills {
  background-color: #FFEBC9;
  align-items: center;
}

.projects {
  background-color: #FFDFAF;
  align-items: center;
}

.heading-project {
  padding-top: 3%;
}

.bottom-container {
  padding: 50px 0 20px;
  background-color: #D79771;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.mountain {
  padding-bottom: 0;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.imagePosition {
  padding-top: 0;
}

.btn {
  background: #fc7114;
  background-image: -webkit-linear-gradient(top, #fc7114, #733805);
  background-image: -moz-linear-gradient(top, #fc7114, #733805);
  background-image: -ms-linear-gradient(top, #fc7114, #733805);
  background-image: -o-linear-gradient(top, #fc7114, #733805);
  background-image: linear-gradient(to bottom, #fc7114, #733805);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Otomanopee One', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #f5b385;
  background-image: -webkit-linear-gradient(top, #f5b385, #cf7004);
  background-image: -moz-linear-gradient(top, #f5b385, #cf7004);
  background-image: -ms-linear-gradient(top, #f5b385, #cf7004);
  background-image: -o-linear-gradient(top, #f5b385, #cf7004);
  background-image: linear-gradient(to bottom, #f5b385, #cf7004);
  text-decoration: none;
}
